.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
    left: 0;
    background-color: rgb(251, 251, 255);

}

.sidebarWapper {
    padding: 20px;
    color: #555;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    font-size: 15px;
    color: lightgray;
}

.sidebarList {
    list-style: none;
    padding: 5px;
}

.sidebarListItems {
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}

.sidebarListItems.active,
.sidebarListItems:hover {
    background-color: rgb(240, 240, 255);

}

.icon {
    margin-right: 5px;
    font-size: 20px !important;
    color: #555 !important;
}

.link {
    color: inherit;
    text-decoration: none;
}